* {{

    active-background: {color6}; 
    alt-background: {color1}; 
    selected-active: {color15};
    active-foreground: {color0}; 
    normal-background: {color8};
    normal-foreground: @foreground;
    urgent-background: {color1};
    urgent-foreground: @foreground;


    background-color: @background;
    background: {background};
    foreground: {foreground};
    border: {color6};

}}